*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Cabeçalho */


/* Corpo */
main{
    background-color: #171a21;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}
.infos{
    padding: 0.8em;
    background-color: #121314;
    display: flex;
    justify-content: space-between;
    width: 400px;
}
#avaliacao{
    background-color: #dc3545;
    font-size: 17px;
    font-weight: bold;
    color: #f7f7f7;
    height: min-content;
    padding: 0px 4px 2px 3px;
} 
.infos h5{
    color: #dc3545;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    text-shadow: 1.4px 1.4px 0px #000000;
}
.sinopse{
    display: none;
}

/* Rodapé */