*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Cabeçalho */
header{
    background-color: #121314;
    padding: 12px;
    margin-bottom: 2em;
}
#logo{
    width: 130px;
    margin-left: 1em;
}
.inputSearch{
    float: right;
    position: relative;
    top: 2.2em;
    right: 3em;
    display: flex;
    align-items: center;
}
.bi-search{
    color: #f7f7f7;
    cursor: pointer;
}
#search{
    margin-left: 0.5em;
    border-radius: 5px;
    border: 1px solid #000000;
}

/* Corpo */
body{
    background-color: #171a21;
}
main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}
#titulo{
    color: #dc3545;
    text-align: center;
    margin-bottom: 0.6em;
    font-family: 'Play', sans-serif;
}
.filme{
    border: 1px solid #000;
    overflow: hidden;
    cursor: pointer;
}
.filme:hover .sinopse{
    transform: translateY(0%);
    transition: transform 0.7s ease;
    opacity: 100%;
}
.infos{
    background-color: #121314;
    width: 400px;
    position: relative;
}
.infos .titulo{
    color: #dc3545;
    font-family: 'Play', sans-serif;
    font-weight: 600;
    text-shadow: 1.5px 1.5px 0px #000000;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
}
#avaliacao{
    background-color: #dc3545;
    font-size: 17px;
    font-weight: bold;
    color: #f7f7f7;
    height: min-content;
    padding: 0px 4px 2px 3px;
}
.sinopse{
    width: 400px;
    text-align: justify;
    padding: 10px;
    background-color: #f7f7f7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    opacity: 0;
}

/* Rodapé */
footer{
    background-color: #121314;
    padding: 12px;
    margin-top: 2em;
}